@import url('https://fonts.googleapis.com/css2?family=Anta&family=BioRhyme:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');

body {
  background-color: #61B2F2;
  font-family: "Racing Sans One", serif;
}
/* .ClubDescription {
  display: flex;
  flex-direction: row;
} */

.nav {
  border-bottom: 1px solid black;
  /* background-color: gray; */
  height: 10vh;
  margin: 0px 20px 0px 20px;
  padding-bottom: 20px;
  padding-top: 40px;
}
.header{
  vertical-align:middle;
  display: flex;
  width: 100%;
  padding-left: 4%;
  padding-top: 3%;
  /* text-align: left; */
  opacity: 0100;
  background-color: #61b2f2;
  color: black;
  font-size: 1em;
  /* position: absolute; */
  z-index: 4;
  margin-bottom: 1%;
}
h1 {
  left:16%;
  position: absolute;
}

.Signinbutton {
  font-family: "Racing Sans One", sans-serif;
  background-color: transparent; 
  border: none;  
  color: black;  
  padding-top: 1.5%;
  left: 85%;
  position: absolute;
  text-align: center;
  font-size: 1em; 
  cursor: pointer;
  z-index: 8;  
  text-transform: uppercase; 
}
.Signinbutton:hover {
  color: rgb(1, 1, 1);
  font-size: 1.4em;
  transform: translate(-10%);
}

.falcon {
  width: 80px;
  text-align: left;
  margin-left: 20px;
  z-index: 8;
}

.accountIcon {
  position: absolute;
  left: 78%;
  width: 60px; 
  height: 60px;
  /* margin-right: 20px; */
  z-index: 8;
}

.account-buttons {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  background-color: white;
  border: 3px solid black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  border-radius: 18px;
  width: 150px;
  height: 60px;
  box-shadow: 1px 3px;
} 
.ClubDescription-body {
  /* position: absolute; */
}

h2 {
  text-align: center;
}
.pics {
  width: 20vw;
  /* background-color: gray; */
  margin-left: 30px;
}
.contact-logo {
  width: 50px;
  flex: 1;
}
p {
  font-size: 16px;
  flex: 1;
}
/* .ClubDescription {
  height: 40vmin;
  display: flex;
  flex-direction: column;
  background-color: #61dafb;
} */
.description {
  width: 35vw;
  /* background-color: red; */
  padding-top: 60px;
}
.col {
  font-size: 32px;
  flex: 1;
  margin: 10px 50px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.align-left {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.horizontally-centered {
  display: flex;
  justify-content: center;
}
.club-pic {
  width: 20vw;
}
.descbox {
  width: 30vw;
  height: 40vh;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  line-height: 1.5;
  align-content: center;
  /* margin: 20px; */
}

.contacts {
  width: 20vw;
  background-color: white;
  padding: 10px 20px 10px 20px;

}
.officer-pic {
  width: 80px;
  /* background-color: gray; */
}
.contacts-pic {
  width: 45px;
  height: 45px;
  /* background-color: gray; */

}
.contact {
  padding: 8px 10px;
}
