body{
  background-color: lightblue;
}
.head{
  color: black;
  position: sticky;
  top: 13vw;
  left: 20vw;

}
.title{
  position: sticky;
  text-align: center;
  font-size: 3vw;
}
.description{
  position: sticky;
  left: 19vw;
  top: 16vw;
  color: black;
  font-size: 1.5vw;
  text-align: center;
}
.rectangle{
  position: sticky;
  width: 60vw;
  height: 14vw;
  left: 19vw;
  top: 13.7vw;
  background-color: white;
  border-width: 0.5vw;
  border-style: solid;
  border-color: black;
}
.line{
  position: sticky;
  top:11vw;
  right:10vw;
  left: 18vw;
  width: 65vw;
  height: 0.01vw;
  background-color: black;
}
.falcon{
  position: sticky;
  top: 1vw;
  left: 18vw;
  width: 5vw;
  height: 5vw;
}
.person{
  position:sticky;
  top: 2vw;
  left: 64vw;
  width: 3vw;
  height: 4vw;
}
.logIn{
  position: sticky;
  top: 1vw;
  left: 68.5vw;
  width: 7vw;
  height: 3vw;
  border-width:2px;
  border-color:black;
  border-style:solid;
  border-radius:1vw;
  font-size: 1vw;
}
.signUp{
  position: sticky;
  top: 1vw;
  left: 76vw;
  width: 7vw;
  height: 3vw;
  border-width:2px;
  border-color:black;
  border-style:solid;
  border-radius:1vw;
  font-size: 1vw;
}
.image1{
  position: absolute;
  top: 13.7vw;
  left: 1vw;
  width: 16vw;
  height: 14vw;
  border-width: 0.5vw;
  border-color: black;
  border-style: solid;
}

.image2{
  position: absolute;
  top: 29.7vw;
  left: 1vw;
  width: 16vw;
  height: 14vw;
  border-width: 0.5vw;
  border-color: black;
  border-style: solid;
}

.image3{
  position: absolute;
  top: 13.7vw;
  right: 2vw;
  width: 16vw;
  height: 14vw;
  border-width: 0.5vw;
  border-color: black;
  border-style: solid;
}
.image4{
  position: absolute;
  top: 29.7vw;
  right: 2vw;
  width: 16vw;
  height: 14vw;
  border-width: 0.5vw;
  border-color: black;
  border-style: solid;
}

.blog{
  position: absolute;
  width: 60vw;
  height: 14vw;
  left: 19vw;
  top: 21.5vw;
  background-color: white;
  border-width: 0.5vw;
  border-style: solid;
  border-color: black;
  color: black;
  font-size: 1.5vw;
}