.google-signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .signin-button-container {
    width: auto;
    margin-top: 20px;
    padding: 10px;
  }
  
  .google-signin-container .g_id_signin {
    max-width: 400px; 
  }
  